<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width"> -->

  <!-- WEBSITE DETAIL -->
  <title>Mapletree Explorer</title>
  <meta name="description" content="Presenting our portfolio in an unique and interactive way">

  <!-- FAVICON -->
  <link rel="icon" type="image/png" href="assets/img/favicon.png">

  <!-- JAVASCRIPT (the rest at the bottom) -->
  <script src="assets/js/vendor/custom.modernizr.js"></script>

  <!-- STYLESHEET -->
  <link rel="stylesheet" href="assets/css/framework.css">
  <link rel="stylesheet" href="assets/css/app.css">

  <!-- FONTS -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet">

</head>
<body class="full-screen">

<div id="main-wrapper">
  <div class="header-pusher"></div>
  <div class="row">
    <section class="sidebar column" role="complementary">
      <header>
        <p>Selected City</p>
        <h3 class="selected-city">Singapore</h3>

        <p>Total Projects</p>
        <h3 id="all-count">0</h3>
      </header>

      <article>
        <ul class="large-tile-3">
          <li>
            <figure>
              <div class="circle public-circle"></div>
              <figcaption>
                Public <br> Reits
              </figcaption>
            </figure>
            <h3 id="public-count">0</h3>
          </li>
          <li>
            <figure>
              <div class="circle private-circle"></div>
              <figcaption>
                Private <br> Funds
              </figcaption>
            </figure>
            <h3 id="private-count">0</h3>
          </li>
          <li>
            <figure>
              <div class="circle mapletree-circle"></div>
              <figcaption>
                Mapletree <br> Owned
              </figcaption>
            </figure>
            <h3 id="mapletree-count">0</h3>
          </li>
        </ul>
      </article>

      <aside class="index">
        <ul class="large-tile-1">
          <li>
            <figure>
              <div class="circle commercial-circle"></div>
              <figcaption>
                Commercial <br> &amp; Mixed Use
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <div class="circle office-circle"></div>
              <figcaption>
                Office
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <div class="circle industrial-circle"></div>
              <figcaption>
                Industrial
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <div class="circle logistic-circle logistics-circle"></div>
              <figcaption>
                Logistics
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <div class="circle residential-circle"></div>
              <figcaption>
                Residential / Serviced Apartment
              </figcaption>
            </figure>
          </li>
        </ul>
      </aside>
    </section>
    <main class="column" role="main">
      <article class="canvas">
        <div class="highlight"></div>
        <!-- drawn with Raphael -->
      </article>
    </main>
  </div>

  <!-- Hidden color, only for JS reference -->
  <article id="palette" class="hide">
    <div class="circle public-circle light"></div>
    <div class="circle private-circle light"></div>
    <div class="circle mapletree-circle light"></div>

    <div class="circle public-circle dark"></div>
    <div class="circle private-circle dark"></div>
    <div class="circle mapletree-circle dark"></div>

    <div class="circle commercial-circle light"></div>
    <div class="circle office-circle light"></div>
    <div class="circle industrial-circle light"></div>
    <div class="circle logistic-circle light"></div>
    <div class="circle residential-circle light"></div>

    <div class="circle commercial-circle dark"></div>
    <div class="circle office-circle dark"></div>
    <div class="circle industrial-circle dark"></div>
    <div class="circle logistic-circle dark"></div>
    <div class="circle residential-circle dark"></div>
  </article>

  <section class="single-project popup">
    <!-- populated with Handlebars -->
  </section>

  <section class="group popup">
    <!-- populated with Handlebars -->
  </section>

  <section class="group-project popup">
    <!-- populated with Handlebars -->
  </section>

  <script type="text/x-handlebars-template" id="project">
    <article>
      <figure>
        <img src="assets/img/projects/{{ image }}" alt="{{ name }}">
      </figure>
      <h4 class="title">{{ name }}</h4>
      <p>
        {{ city }}
      </p>
      {{#if year }}
        <p>
          Year of Completion / Acquisition: {{ year }}
        </p>
      {{else }}
        <p>
          Completion: In development
        </p>
      {{/if }}
      <p class="platform">
        {{ platform }}
      </p>
      <span class="close" onclick="Sidebar.closeProject();">&#215;</span>
    </article>
  </script>

  <script type="text/x-handlebars-template" id="group">
    <h6 class="title title-{{ type }}">{{ name }}</h6>
    {{#if has_arrow }}
      <header class="arrow-up">
      </header>
    {{/if }}

    <article>
      <ul class="project-list">
        {{#each projects }}
          <li>
            <a data-name="{{ name }}"
               data-image="{{ image }}"
               data-city="{{ city }}"
               data-year="{{ year }}"
               data-platform="{{ platform }}">
              {{ name }}
            </a>
          </li>
        {{/each }}
      </ul>
      <span class="close" onclick="Sidebar.closeGroup();">&#215;</span>
    </article>

    {{#if has_arrow }}
      <footer class="arrow-down">
      </footer>
    {{/if }}
  </script>

  <aside id="footer-push"></aside>
</div>


<footer class="main-footer">
  <div class="row">
    <div class="large-12 column">
      <p class="text-right">
        This model serves only to illustrate Mapletree's portfolio and is not indicative of all projects in portfolio.
      </p>
    </div>
  </div>
</footer>

<!-- JAVASCRIPT -->
<script src="assets/js/vendor/jquery.min.js"></script>
<script src="assets/js/vendor/jquery.svg.min.js"></script>
<script src="assets/js/vendor/jquery.svgdom.min.js"></script>
<script src="assets/js/vendor/raphael.min.js"></script>
<script src="assets/js/vendor/raphael.shadow.js"></script>
<script src="assets/js/vendor/handlebars.js"></script>
<script src="assets/js/vendor/fastclick.min.js"></script>

<!-- Data -->
<script src="assets/js/data.js"></script>
<script src="assets/js/constant.js"></script>

<!-- Static Class -->
<script src="assets/js/sidebar.js"></script>
<script src="assets/js/wheel.js"></script>

<!-- Class -->
<script src="assets/js/location.js"></script>
<script src="assets/js/graph.js"></script>
<script src="assets/js/node.js"></script>

<!-- Initiator -->
<script src="assets/js/app.js"></script>

</body>
</html>
