// Override EDGE variables here
// To override, uncomment the variable and set the new value

// -------
// FONT
// -------
$header-font-family : "Open Sans", "Helvetica", Helvetica, Arial, "sans-serif";
$body-font-family   : "Open Sans", Helvetica, Arial, "sans-serif";
// $code-font-family   : "Consolas", Courier, "monospace";

// --------------------------------
//   Two main colors of your site
// --------------------------------

$main-color : #2a71e3;
$sub-color  : #d7d7d7;

// -------------------
// COLOR PALETTE
// -------------------
$passive-color : #eaeaea;

$blue-color    : #a2bdd9;
$yellow-color  : #cc9451;
$red-color     : #d29aa8;
$green-color   : #b2c18e;
$purple-color  : #c5acbe;

$public-color    : #bdbdbd;
$private-color   : #7c7c7c;
$mapletree-color : #ceceb5;

// ----------------
// OUTPUT CONFIG
// ----------------
$responsive : false;
// $debug      : false;

// $include-tile       : true;
$include-visibility : false;
$include-button     : false;

$include-animate : true;
// $include-print   : false;
// $include-code    : false;

// ------
// BODY
// ------
// $body-background  : #fff;
$body-font-color  : #676767;
// $body-font-weight : 400;

// $body-font-size   : 16px;
// $body-line-height : 1.5;

// ---------------
// TYPOGRAPHY
// ---------------
// $h1-font-size : 44px;
// $h2-font-size : 36px;
// $h3-font-size : 28px;
// $h4-font-size : 22px;
// $h5-font-size : 18px;
// $h6-font-size : 16px;

// $header-font-color  : $body-font-color;
$header-font-weight : 600;

// $p-margin-bottom  : 1em;

// ---------------
// GLOBAL VALUE
// ---------------
// $g-radius : 3px;
// $g-transition : all .2s ease-in-out;

// -------------------
// MEDIA QUERIES
// -------------------
// $mini-screen   : 480px;
// $small-screen  : 767px;
// $large-screen  : 1440px;
// $retina-screen : 192dpi;

// --------
// GRID
// --------
// $row-max-width : 1140px;
// $total-columns : 12;
$column-gutter : 30px;

// ------------
// TILE
// ------------
// $max-tiles   : 12;
// $tile-gutter : 15px;

// -----------------
// CODE Highlighter
// -----------------
// $code-theme  : light;  // "light" or "dark"

// ----------
// BUTTON
// ----------
// $button-color : $main-color;

// ------------------
// TEXT DIRECTION
// ------------------
// $text-direction   : ltr;  // Controls default global text direction, 'rtl' or 'ltr'