@import "setting";
@import "edge/helpers";

body {
  background-image: image-url("bg-large.jpg");
  background-size: 1440px 1440px;
  padding-left: 40px;

  @include above(1440px) {
    background-size: 1600px 1600px;
  }

  @include above(1600px) {
    background-size: 1920px 1920px;
  }

  @include above(1920px) {
    background-size: 2200px 2200px;
  }

  @include above(2200px) {
    background-size: 2560px 2560px;
  }
}

#main-wrapper {
  padding-left: 30px;
  margin: 0 auto;
  min-width: 1140px;
  max-width: 1140px;
}

.full-screen {

  .row {
    min-width: 1280px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

[role="main"] {
  @include column(10);
}

@include sticky-footer(36px);

/* Complementary */

.sidebar {
  margin-top: 30px;

  @include column(2);
  
  .selected-city {
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  
  header,
  article {
    margin-bottom: 30px;
  }

  p,
  figcaption {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: em(14px);
  }

  h3 {
    font-weight: 400;
    color: #222;
    line-height: 1;
  }

  .circle {
    display: inline-block;
  }
}

.index {
  li {
    max-width: 110px;
    margin-bottom: 10px;
    text-align: center;
  }
}

/* Circle */

@mixin circle($color, $percentage: 10%) {
  background-color: $color;

  &.dark {
    background-color: darken($color, $percentage);
  }

  .sidebar & {
    @include background(
      linear-gradient(45deg, $color 5%, darken($color, 10%) 40%, $color 100%)
    );
  }
}

.circle {
  background-color: $passive-color;
  width: 45px;
  height: 45px;
  @include border-radius(50%);
  
  &.public-circle {
    @include circle($public-color, 20%);
  }

  &.private-circle {
    @include circle($private-color, 20%);
  }

  &.mapletree-circle {
    @include circle($mapletree-color, 20%);
  }

  &.commercial-circle {
    @include circle($yellow-color);
  }

  &.office-circle {
    @include circle($red-color);
  }

  &.industrial-circle {
    @include circle($purple-color);
  }

  &.logistic-circle,
  .logistics-circle {
    @include circle($green-color);
  }

  &.residential-circle {
    @include circle($blue-color);
  }
}

/* Side Popup */

.popup {
  position: fixed;
  top: 30px;
  right: 40px;
  @include user-select(none);

  &.group-project {
    right: 310px;

    .close {
      display: none;
    }
  }

  &.group {
    article {
      background: rgba(white, .5);
      padding: 5px;
    }

    ul {
      overflow-y: auto;
      max-height: 290px;
    }

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      display: block;
      padding: 5px 10px;
      background-color: rgba(#aeaeae, .5);
      color: $body-font-color;
      @include transition($g-transition);

      &:hover {
        background-color: rgba(#aeaeae, .8);
      }
    }

    .title {
      padding: 5px 0 0;
      margin-bottom: 10px;
      border-top: 7px solid transparent;
      text-transform: uppercase;

      &.title-logistic {
        border-top-color: $green-color;
      }

      &.title-industrial {
        border-top-color: $purple-color;
      }

      &.title-office {
        border-top-color: $red-color;
      }

      &.title-commercial {
        border-top-color: $yellow-color;
      }

      &.title-residential {
        border-top-color: $blue-color;
      }
    }
  }

  .platform {
    text-transform: capitalize;
  }

  figure {
    margin-bottom: 10px;
  }
  
  article {
    position: relative;
    width: 250px;
    background: white;

    @include border-radius($g-radius);
    @include box-shadow(0 0 4px 2px rgba(black, .1) );
  }

  .title {
    margin-bottom: 10px;
    padding: 0 15px;
    font-weight: 400;
    line-height: 1.3;
  }

  p { 
    position: relative;
    margin-bottom: 0;
    padding: 0 15px;
    font-size: em(15px);

    &:last-of-type {
    padding-bottom: 15px;
    }
  }

  .close {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    
    width: 40px;
    height: 40px;
    padding-top: 2px;
    border: 3px solid white;
    background: $red-color;
  
    font-size: em(20px);
    color: white;
    text-align: center;
    @include transition($g-transition);
    @include border-radius(50%);

    &:hover {
      background: darken($red-color, 10%);
    }
  }

  .arrow-up,
  .arrow-down {
    cursor: pointer;
    position: relative;
    height: 25px;
    padding: 5px;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;

      @include transition($g-transition);
    }
  }

  .arrow-up {
    top: -5px;

    &:before {
      @include triangle($width: 60px, $height: 20px, $color: #aaa, $direction: up);
    }

    &:hover {
      &:before {
        border-bottom-color: darken(#aaa, 10%);
      }
    }
  }

  .arrow-down {
    &:before {
      @include triangle($width: 60px, $height: 20px, $color: #aaa, $direction: down);
    }

    &:hover {
      &:before {
        border-top-color: darken(#aaa, 10%);
      }
    }
  }
}

/* Canvas */

.canvas {
  position: relative;
  margin-top: 20px;
  @include user-select(none);

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 403px;
    background: rgba(white, .4);
    width: 20px;
    height: 100px;
    @include box-shadow(0 0 5px 10px rgba(white, .4) );
    @include border-radius(10%);
  }

  .mobile & {
    &:before {
      display: none;
    }
  }

  &.is-spinning:before {
    display: none;
  }

  .node {
    position: relative;
    cursor: pointer;
    @include transition($g-transition);

    &:hover {
      opacity: .7 !important;
    }

    &:active,
    &.active {
      opacity: .55 !important;
    }
  }

  tspan {
    cursor: pointer;
    font-family: $body-font-family;
    font-size: em(16px, 10px);
    text-transform: uppercase;

    &:hover {
      opacity: .7;
    }
  }

  .selected {
    tspan {
      font-weight: 700;
    }
  }
}

/* Highlight */

.canvas:before,
.highlight {
  position: absolute;
  top: 5px;
  left: 405px;
  background: rgba(white, .4);
  width: 20px;
  height: 100px;
  @include box-shadow(0 0 5px 10px rgba(white, .4) );
  @include border-radius(10%);
}

.canvas:before {
  content: "";
}

.highlight {
  display: none;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

/* Animation */

.animated.fast {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
}

/* Footer */

.main-footer {
  p {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: em(14px);
    font-style: italic;
  }
}

/* For projector size */

.projector {
  .sidebar {
    margin-top: 100px;
    margin-left: -270px;
  }

  .canvas {
    top: 85px;
    margin-top: 0;
    margin-left: 80px;

    tspan:hover {
      opacity: 1;
    }
  }

  .popup {
    position: absolute;
    top: 318px;
    right: 65px;

    &.group-project {
      right: 330px;
    }
  }

  .main-footer {
    margin-right: 20px;

    p {
      top: 0;
      left: 135px;
      font-size: em(12px);
    }
  }
}

/* Mobile device (iPad and Android Tab) */

.mobile {
  .main-footer {
    p {
      top: -35px;
    }
  }

  .highlight {
    display: block;
  }
}