body {
  background-image: url('../img/bg-large.jpg?1400745730');
  background-size: 1440px 1440px;
  padding-left: 40px; }
  @media only screen and (min-width: 1441px) {
    body {
      background-size: 1600px 1600px; } }
  @media only screen and (min-width: 1601px) {
    body {
      background-size: 1920px 1920px; } }
  @media only screen and (min-width: 1921px) {
    body {
      background-size: 2200px 2200px; } }
  @media only screen and (min-width: 2201px) {
    body {
      background-size: 2560px 2560px; } }

#main-wrapper {
  padding-left: 30px;
  margin: 0 auto;
  min-width: 1140px;
  max-width: 1140px; }

.full-screen .row {
  min-width: 1280px;
  max-width: 1440px;
  margin: 0 auto; }

[role="main"] {
  width: 83.33333%; }

html, body {
  height: 100%; }

#main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -36px; }

.main-footer,
#footer-push {
  margin: 0 auto;
  height: 36px; }

.main-footer {
  height: auto; }

/* Complementary */
.sidebar {
  margin-top: 30px;
  width: 16.66667%; }
  .sidebar .selected-city {
    margin-bottom: 25px;
    text-transform: uppercase; }
  .sidebar header,
  .sidebar article {
    margin-bottom: 30px; }
  .sidebar p,
  .sidebar figcaption {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.875em; }
  .sidebar h3 {
    font-weight: 400;
    color: #222;
    line-height: 1; }
  .sidebar .circle {
    display: inline-block; }

.index li {
  max-width: 110px;
  margin-bottom: 10px;
  text-align: center; }

/* Circle */
.circle {
  background-color: #eaeaea;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .circle.public-circle {
    background-color: #bdbdbd; }
    .circle.public-circle.dark {
      background-color: #8a8a8a; }
    .sidebar .circle.public-circle {
      background: -webkit-linear-gradient(45deg, #bdbdbd 5%, #a4a4a4 40%, #bdbdbd 100%);
      background: -moz-linear-gradient(45deg, #bdbdbd 5%, #a4a4a4 40%, #bdbdbd 100%);
      background: linear-gradient(45deg, #bdbdbd 5%, #a4a4a4 40%, #bdbdbd 100%); }
  .circle.private-circle {
    background-color: #7c7c7c; }
    .circle.private-circle.dark {
      background-color: #494949; }
    .sidebar .circle.private-circle {
      background: -webkit-linear-gradient(45deg, #7c7c7c 5%, #626262 40%, #7c7c7c 100%);
      background: -moz-linear-gradient(45deg, #7c7c7c 5%, #626262 40%, #7c7c7c 100%);
      background: linear-gradient(45deg, #7c7c7c 5%, #626262 40%, #7c7c7c 100%); }
  .circle.mapletree-circle {
    background-color: #ceceb5; }
    .circle.mapletree-circle.dark {
      background-color: #a5a578; }
    .sidebar .circle.mapletree-circle {
      background: -webkit-linear-gradient(45deg, #ceceb5 5%, #baba96 40%, #ceceb5 100%);
      background: -moz-linear-gradient(45deg, #ceceb5 5%, #baba96 40%, #ceceb5 100%);
      background: linear-gradient(45deg, #ceceb5 5%, #baba96 40%, #ceceb5 100%); }
  .circle.commercial-circle {
    background-color: #cc9451; }
    .circle.commercial-circle.dark {
      background-color: #b57b35; }
    .sidebar .circle.commercial-circle {
      background: -webkit-linear-gradient(45deg, #cc9451 5%, #b57b35 40%, #cc9451 100%);
      background: -moz-linear-gradient(45deg, #cc9451 5%, #b57b35 40%, #cc9451 100%);
      background: linear-gradient(45deg, #cc9451 5%, #b57b35 40%, #cc9451 100%); }
  .circle.office-circle {
    background-color: #d29aa8; }
    .circle.office-circle.dark {
      background-color: #c2778a; }
    .sidebar .circle.office-circle {
      background: -webkit-linear-gradient(45deg, #d29aa8 5%, #c2778a 40%, #d29aa8 100%);
      background: -moz-linear-gradient(45deg, #d29aa8 5%, #c2778a 40%, #d29aa8 100%);
      background: linear-gradient(45deg, #d29aa8 5%, #c2778a 40%, #d29aa8 100%); }
  .circle.industrial-circle {
    background-color: #c5acbe; }
    .circle.industrial-circle.dark {
      background-color: #b08ea6; }
    .sidebar .circle.industrial-circle {
      background: -webkit-linear-gradient(45deg, #c5acbe 5%, #b08ea6 40%, #c5acbe 100%);
      background: -moz-linear-gradient(45deg, #c5acbe 5%, #b08ea6 40%, #c5acbe 100%);
      background: linear-gradient(45deg, #c5acbe 5%, #b08ea6 40%, #c5acbe 100%); }
  .circle.logistic-circle,
  .circle .logistics-circle {
    background-color: #b2c18e; }
    .circle.logistic-circle.dark,
    .circle .logistics-circle.dark {
      background-color: #9caf6d; }
    .sidebar .circle.logistic-circle, .sidebar
    .circle .logistics-circle {
      background: -webkit-linear-gradient(45deg, #b2c18e 5%, #9caf6d 40%, #b2c18e 100%);
      background: -moz-linear-gradient(45deg, #b2c18e 5%, #9caf6d 40%, #b2c18e 100%);
      background: linear-gradient(45deg, #b2c18e 5%, #9caf6d 40%, #b2c18e 100%); }
  .circle.residential-circle {
    background-color: #a2bdd9; }
    .circle.residential-circle.dark {
      background-color: #7ea3ca; }
    .sidebar .circle.residential-circle {
      background: -webkit-linear-gradient(45deg, #a2bdd9 5%, #7ea3ca 40%, #a2bdd9 100%);
      background: -moz-linear-gradient(45deg, #a2bdd9 5%, #7ea3ca 40%, #a2bdd9 100%);
      background: linear-gradient(45deg, #a2bdd9 5%, #7ea3ca 40%, #a2bdd9 100%); }

/* Side Popup */
.popup {
  position: fixed;
  top: 30px;
  right: 40px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .popup.group-project {
    right: 340px; }
    .popup.group-project .close {
      display: none; }
  .popup.group article {
    background: rgba(255, 255, 255, 0.5);
    padding: 5px; }
  .popup.group ul {
    overflow-y: auto;
    max-height: 290px; }
  .popup.group li {
    margin-bottom: 5px; }
    .popup.group li:last-child {
      margin-bottom: 0; }
  .popup.group a {
    display: block;
    padding: 5px 10px;
    background-color: rgba(174, 174, 174, 0.5);
    color: #676767;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .popup.group a:hover {
      background-color: rgba(174, 174, 174, 0.8); }
  .popup.group .title {
    padding: 5px 0 0;
    margin-bottom: 10px;
    border-top: 7px solid transparent;
    text-transform: uppercase; }
    .popup.group .title.title-logistic {
      border-top-color: #b2c18e; }
    .popup.group .title.title-industrial {
      border-top-color: #c5acbe; }
    .popup.group .title.title-office {
      border-top-color: #d29aa8; }
    .popup.group .title.title-commercial {
      border-top-color: #cc9451; }
    .popup.group .title.title-residential {
      border-top-color: #a2bdd9; }
  .popup .platform {
    text-transform: capitalize; }
  .popup figure {
    margin-bottom: 10px; }
  .popup article {
    position: relative;
    width: 280px;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1); }
  .popup .title {
    margin-bottom: 10px;
    padding: 0 15px;
    font-weight: 400;
    line-height: 1.3; }
  .popup p {
    position: relative;
    margin-bottom: 0;
    padding: 0 15px;
    font-size: 0.9375em; }
    .popup p:last-of-type {
      padding-bottom: 15px; }
  .popup .close {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    padding-top: 2px;
    border: 3px solid white;
    background: #d29aa8;
    font-size: 1.25em;
    color: white;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .popup .close:hover {
      background: #c2778a; }
  .popup .arrow-up,
  .popup .arrow-down {
    cursor: pointer;
    position: relative;
    height: 25px;
    padding: 5px; }
    .popup .arrow-up:before,
    .popup .arrow-down:before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
  .popup .arrow-up {
    top: -5px; }
    .popup .arrow-up:before {
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0%;
      border-style: solid;
      border-color: transparent;
      border-width: 0 30px 20px 30px;
      border-bottom-color: #aaaaaa; }
    .popup .arrow-up:hover:before {
      border-bottom-color: #909090; }
  .popup .arrow-down:before {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0%;
    border-style: solid;
    border-color: transparent;
    border-width: 20px 30px 0 30px;
    border-top-color: #aaaaaa; }
  .popup .arrow-down:hover:before {
    border-top-color: #909090; }

/* Canvas */
.canvas {
  position: relative;
  margin-top: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .canvas:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 403px;
    background: rgba(255, 255, 255, 0.4);
    width: 20px;
    height: 100px;
    -webkit-box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%; }
  .mobile .canvas:before {
    display: none; }
  .canvas.is-spinning:before {
    display: none; }
  .canvas .node {
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .canvas .node:hover {
      opacity: .7 !important; }
    .canvas .node:active, .canvas .node.active {
      opacity: .55 !important; }
  .canvas tspan {
    cursor: pointer;
    font-family: "Open Sans", Helvetica, Arial, "sans-serif";
    font-size: 1.6em;
    text-transform: uppercase; }
    .canvas tspan:hover {
      opacity: .7; }
  .canvas .selected tspan {
    font-weight: 700; }

/* Highlight */
.canvas:before,
.highlight {
  position: absolute;
  top: 5px;
  left: 405px;
  background: rgba(255, 255, 255, 0.4);
  width: 20px;
  height: 100px;
  -webkit-box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%; }

.canvas:before {
  content: ""; }

.highlight {
  display: none;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

/* Animation */
.animated.fast {
  -webkit-animation-duration: .2s;
  animation-duration: .2s; }

/* Footer */
.main-footer p {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 15px;
  font-size: 0.875em;
  font-style: italic; }

/* For projector size */
.projector {
  -webkit-text-stroke: 0.1px;
}
.projector .sidebar {
  margin-top: 100px;
  margin-left: -270px; }
.projector .canvas {
  top: 85px;
  margin-top: 0;
  margin-left: 80px; }
  .projector .canvas tspan:hover {
    opacity: 1; }
.projector .popup {
  position: absolute;
  top: 318px;
  right: 65px; }
  .projector .popup.group-project {
    right: 360px; }
.projector .main-footer {
  margin-right: 20px; }
  .projector .main-footer p {
    top: 0;
    left: 135px;
    font-size: 0.75em; }

/* Mobile device (iPad and Android Tab) */
.mobile .main-footer p {
  top: -35px; }
.mobile .highlight {
  display: block; }
