/* --------------------
- EDGE Framework
- edge.setyono.net
- v1.3.2 (Furion)
--------------------- */
/* ----------------
  EDGE Normalize
---------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, body {
  margin: 0;
  padding: 0; }

body {
  height: 100%; }

body {
  -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix {
  from {
    padding: 0; }

  to {
    padding: 0; } }

html {
  height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  cursor: pointer;
  text-decoration: none; }

a:focus {
  outline: none; }

a:active, a:hover {
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc; }

img {
  border: 0;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

address, cite {
  font-style: normal; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  height: auto;
  min-height: 50px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Miscellaneous useful HTML classes */
.left {
  float: left !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none !important;
  visibility: hidden !important; }

.visual-hide {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.bold, b, strong {
  font-weight: 700 !important; }

.italic, em {
  font-style: italic !important; }

.antialiased {
  -webkit-font-smoothing: antialiased; }

/* -----------------
  EDGE Typography
----------------- */
body {
  position: relative;
  background: white;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, "sans-serif";
  font-weight: 400;
  line-height: 1.5;
  color: #676767; }

h1, h2, h3, h4, h5, h6 {
  color: #676767;
  font-family: "Open Sans", "Helvetica", Helvetica, Arial, "sans-serif";
  font-weight: 600; }

a {
  color: #2a71e3; }

h1 {
  font-size: 2.75em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.375em; }

h5 {
  font-size: 1.125em; }

h6 {
  font-size: 1em; }

p {
  margin-top: 0;
  margin-bottom: 0; }

.inline-list {
  zoom: 1; }
  .inline-list:before, .inline-list:after {
    content: " ";
    display: table; }
  .inline-list:after {
    clear: both; }
  .inline-list > li {
    display: inline-block;
    float: left;
    vertical-align: top; }

ul {
  list-style-type: disc;
  padding-left: 20px; }
  ul[class] {
    list-style-type: none;
    padding-left: 0; }
  ul ul {
    list-style-type: circle; }

ol {
  list-style-type: decimal;
  padding-left: 25px; }
  ol ol {
    list-style-type: lower-alpha; }

blockquote cite {
  display: block;
  font-style: italic; }

/* ------------
  EDGE Grid
------------ */
body {
  min-width: 1200px; }

.row {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  min-width: 1170px;
  zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%; }
    .row.collapse .row {
      margin: 0;
      padding-right: 0;
      padding-left: 0;
      width: auto;
      max-width: none;
      min-width: 0; }
    .row.collapse .column,
    .row.collapse .columns {
      padding-right: 0;
      padding-left: 0; }
  .row .row {
    margin-right: -15px;
    margin-left: -15px;
    width: auto;
    max-width: none;
    min-width: 0; }
    .row .row.collapse {
      margin: 0;
      padding-right: 0;
      padding-left: 0;
      width: auto;
      max-width: none;
      min-width: 0; }

.column,
.columns {
  position: relative;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

.large-1 {
  width: 8.33333%; }

.large-2 {
  width: 16.66667%; }

.large-3 {
  width: 25%; }

.large-4 {
  width: 33.33333%; }

.large-5 {
  width: 41.66667%; }

.large-6 {
  width: 50%; }

.large-7 {
  width: 58.33333%; }

.large-8 {
  width: 66.66667%; }

.large-9 {
  width: 75%; }

.large-10 {
  width: 83.33333%; }

.large-11 {
  width: 91.66667%; }

.large-12 {
  width: 100%; }

.column.large-centered,
.columns.large-centered,
.column.centered,
.columns.centered {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto; }

.large-offset-1,
.offset-1 {
  margin-left: 8.33333%; }

.push-1 {
  left: 8.33333%;
  right: auto; }

.pull-1 {
  right: 8.33333%;
  left: auto; }

.large-offset-2,
.offset-2 {
  margin-left: 16.66667%; }

.push-2 {
  left: 16.66667%;
  right: auto; }

.pull-2 {
  right: 16.66667%;
  left: auto; }

.large-offset-3,
.offset-3 {
  margin-left: 25%; }

.push-3 {
  left: 25%;
  right: auto; }

.pull-3 {
  right: 25%;
  left: auto; }

.large-offset-4,
.offset-4 {
  margin-left: 33.33333%; }

.push-4 {
  left: 33.33333%;
  right: auto; }

.pull-4 {
  right: 33.33333%;
  left: auto; }

.large-offset-5,
.offset-5 {
  margin-left: 41.66667%; }

.push-5 {
  left: 41.66667%;
  right: auto; }

.pull-5 {
  right: 41.66667%;
  left: auto; }

.large-offset-6,
.offset-6 {
  margin-left: 50%; }

.push-6 {
  left: 50%;
  right: auto; }

.pull-6 {
  right: 50%;
  left: auto; }

.large-offset-7,
.offset-7 {
  margin-left: 58.33333%; }

.push-7 {
  left: 58.33333%;
  right: auto; }

.pull-7 {
  right: 58.33333%;
  left: auto; }

.large-offset-8,
.offset-8 {
  margin-left: 66.66667%; }

.push-8 {
  left: 66.66667%;
  right: auto; }

.pull-8 {
  right: 66.66667%;
  left: auto; }

.large-offset-9,
.offset-9 {
  margin-left: 75%; }

.push-9 {
  left: 75%;
  right: auto; }

.pull-9 {
  right: 75%;
  left: auto; }

.large-offset-10,
.offset-10 {
  margin-left: 83.33333%; }

.push-10 {
  left: 83.33333%;
  right: auto; }

.pull-10 {
  right: 83.33333%;
  left: auto; }

.large-offset-11,
.offset-11 {
  margin-left: 91.66667%; }

.push-11 {
  left: 91.66667%;
  right: auto; }

.pull-11 {
  right: 91.66667%;
  left: auto; }

/* --------------
  EDGE Tile
-------------- */
[class*="tile-"] {
  display: block;
  zoom: 1;
  margin-right: -7.5px;
  margin-left: -7.5px; }
  [class*="tile-"]:before, [class*="tile-"]:after {
    content: " ";
    display: table; }
  [class*="tile-"]:after {
    clear: both; }
  [class*="tile-"] > li {
    display: block;
    position: relative;
    float: left; }
  [class*="tile-"] > li {
    padding-right: 7.5px;
    padding-left: 7.5px; }
  [class*="tile-"].collapse {
    margin-right: 0;
    margin-left: 0; }
    [class*="tile-"].collapse > li {
      padding: 0; }

.large-tile-1 > li,
.tile-1 > li {
  width: 100%; }
  .large-tile-1 > li:nth-of-type(1n+1),
  .tile-1 > li:nth-of-type(1n+1) {
    clear: both; }

.large-tile-2 > li,
.tile-2 > li {
  width: 50%; }
  .large-tile-2 > li:nth-of-type(2n+1),
  .tile-2 > li:nth-of-type(2n+1) {
    clear: both; }

.large-tile-3 > li,
.tile-3 > li {
  width: 33.33333%; }
  .large-tile-3 > li:nth-of-type(3n+1),
  .tile-3 > li:nth-of-type(3n+1) {
    clear: both; }

.large-tile-4 > li,
.tile-4 > li {
  width: 25%; }
  .large-tile-4 > li:nth-of-type(4n+1),
  .tile-4 > li:nth-of-type(4n+1) {
    clear: both; }

.large-tile-5 > li,
.tile-5 > li {
  width: 20%; }
  .large-tile-5 > li:nth-of-type(5n+1),
  .tile-5 > li:nth-of-type(5n+1) {
    clear: both; }

.large-tile-6 > li,
.tile-6 > li {
  width: 16.66667%; }
  .large-tile-6 > li:nth-of-type(6n+1),
  .tile-6 > li:nth-of-type(6n+1) {
    clear: both; }

.large-tile-7 > li,
.tile-7 > li {
  width: 14.28571%; }
  .large-tile-7 > li:nth-of-type(7n+1),
  .tile-7 > li:nth-of-type(7n+1) {
    clear: both; }

.large-tile-8 > li,
.tile-8 > li {
  width: 12.5%; }
  .large-tile-8 > li:nth-of-type(8n+1),
  .tile-8 > li:nth-of-type(8n+1) {
    clear: both; }

.large-tile-9 > li,
.tile-9 > li {
  width: 11.11111%; }
  .large-tile-9 > li:nth-of-type(9n+1),
  .tile-9 > li:nth-of-type(9n+1) {
    clear: both; }

.large-tile-10 > li,
.tile-10 > li {
  width: 10%; }
  .large-tile-10 > li:nth-of-type(10n+1),
  .tile-10 > li:nth-of-type(10n+1) {
    clear: both; }

.large-tile-11 > li,
.tile-11 > li {
  width: 9.09091%; }
  .large-tile-11 > li:nth-of-type(11n+1),
  .tile-11 > li:nth-of-type(11n+1) {
    clear: both; }

.large-tile-12 > li,
.tile-12 > li {
  width: 8.33333%; }
  .large-tile-12 > li:nth-of-type(12n+1),
  .tile-12 > li:nth-of-type(12n+1) {
    clear: both; }

/* ---------------
EDGE Form
--------------- */
[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
select,
textarea {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-top: 1px solid #dddddd; }
  [type="text"]:hover,
  [type="password"]:hover,
  [type="date"]:hover,
  [type="datetime"]:hover,
  [type="datetime-local"]:hover,
  [type="month"]:hover,
  [type="week"]:hover,
  [type="email"]:hover,
  [type="number"]:hover,
  [type="search"]:hover,
  [type="tel"]:hover,
  [type="time"]:hover,
  [type="url"]:hover,
  select:hover,
  textarea:hover {
    border: 1px solid #d1d1d1;
    -webkit-box-shadow: inset 0 0 3px #eaeaea;
    -moz-box-shadow: inset 0 0 3px #eaeaea;
    box-shadow: inset 0 0 3px #eaeaea; }
  [type="text"]:focus,
  [type="password"]:focus,
  [type="date"]:focus,
  [type="datetime"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="week"]:focus,
  [type="email"]:focus,
  [type="number"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="url"]:focus,
  select:focus,
  textarea:focus {
    border: 1px solid #2a71e3;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); }

label {
  display: block;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent; }
  label.prefix, label.postfix {
    border: 1px solid #eaeaea;
    border-top: 1px solid #dddddd;
    text-align: center;
    color: #333333;
    background: #eaeaea;
    overflow: hidden; }
  label.prefix {
    border-right: none; }
  label.postfix {
    border-left: none; }

input::-webkit-calendar-picker-indicator {
  display: none; }

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important; }

/* ---------------
  EDGE Animate
--------------- */
[data-animate] {
  visibility: hidden !important; }

.animated {
  visibility: visible !important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.fadein {
  -webkit-animation-name: fadein;
  animation-name: fadein; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.animated.fadein-down {
  -webkit-animation-name: fadein-down;
  animation-name: fadein-down; }

@-webkit-keyframes fadein-down {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px); }

@keyframes fadein-down {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px); }

.animated.fadein-down-big {
  -webkit-animation-name: fadein-down-big;
  animation-name: fadein-down-big; }

@-webkit-keyframes fadein-down-big {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadein-down-big {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

.animated.fadein-up {
  -webkit-animation-name: fadein-up;
  animation-name: fadein-up; }

@-webkit-keyframes fadein-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadein-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

.animated.fadein-left {
  -webkit-animation-name: fadein-left;
  animation-name: fadein-left; }

@-webkit-keyframes fadein-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadein-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

.animated.fadein-left-big {
  -webkit-animation-name: fadein-left-big;
  animation-name: fadein-left-big; }

@-webkit-keyframes fadein-left-big {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadein-left-big {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

.animated.fadein-right {
  -webkit-animation-name: fadein-right;
  animation-name: fadein-right; }

@-webkit-keyframes fadein-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadein-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

.animated.fadein-right-big {
  -webkit-animation-name: fadein-right-big;
  animation-name: fadein-right-big; }

@-webkit-keyframes fadein-right-big {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    transform: translateX(2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadein-right-big {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    transform: translateX(2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }
